# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
ENV/
.env

# Editor and OS files
.vscode/
.idea/
*.swp
.DS_Store

# Python test output
.pytest_cache/

# Flask instance folder
instance/
